.layout {
  background: #0a0a0f;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 48px;
  display: flex;
}

.main {
  flex: 1;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    flex-direction: column;
  }
}
